#wave{
	color: #0032FD;
    padding-top: calc((100% - 1127px) / 2);
    height: 20em;
    box-sizing: content-box;
    background: currentColor;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
#wave svg {
    display: block;
    position: relative;
    top: 20em;
}